# Development environment
DEV_APP_NAME=DSM TV Dev
DEV_BASE_URL=http://10.0.2.2:5000
DEV_PACKAGE_NAME=com.himalayancodeworks.miniott.dev
DEV_GOOGLE_CLIENT_ID=YOUR_DEV_GOOGLE_CLIENT_ID_IOS
DEV_APPLE_SIGN_IN_BUNDLE_ID=com.himalayancodeworks.miniott.dev
DEV_ESEWA_SDK_CLIENT_ID=JB0BBQ4aD0UqIThFJwAKBgAXEUkEGQUBBAwdOgABHD4DChwUAB0R
DEV_ESEWA_SDK_SECRET_KEY=BhwIWQQADhIYSxILExMcAgFXFhcOBwAKBgAXEQ==
DEV_ESEWA_MOBILE_VERIFY_BASE_URL=https://rc.esewa.com.np
DEV_KHALTI_PUBLIC_KEY=test_public_key_dc74e0fd57cb46cd93832aee0a507256
DEV_MEDIA_CDN_BASE_URL=
DEV_FEATURED_CONTENT_ID=

# Production environment
PROD_APP_NAME=DSM TV
PROD_BASE_URL=http://10.0.2.2:8080
PROD_PACKAGE_NAME=com.himalayancodeworks.miniott
PROD_GOOGLE_CLIENT_ID=YOUR_PROD_GOOGLE_CLIENT_ID_IOS
PROD_APPLE_SIGN_IN_BUNDLE_ID=com.himalayancodeworks.miniott
PROD_ESEWA_SDK_CLIENT_ID=JB0BBQ4aD0UqIThFJwAKBgAXEUkEGQUBBAwdOgABHD4DChwUAB0R
PROD_ESEWA_SDK_SECRET_KEY=BhwIWQQADhIYSxILExMcAgFXFhcOBwAKBgAXEQ==
PROD_ESEWA_MOBILE_VERIFY_BASE_URL=https://esewa.com.np
PROD_KHALTI_PUBLIC_KEY=test_public_key_dc74e0fd57cb46cd93832aee0a507256
PROD_MEDIA_CDN_BASE_URL=
PROD_FEATURED_CONTENT_ID=